@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
    margin: 0.4em;
}

/*ou #principal*/
h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
    margin: 0.4em;
    font-size: 2em;
}

p {
    margin: 0.4em;
    font-size: 0.9em;
}

.basico {
    color:#3c805e;
   
}

.intermediario {
color:rgb(194, 196, 78);
}

.avancado {
color:rgb(179, 58, 58);
}

.destaque {
    background-color: rgba(146, 146, 58, 0.672);
    text-align: center;
}